/* ---------- root variables ---------- */
:root {
  --coin-orange: #f8b475;
  --mint: #89ffdb;
  --magenta: #e42f9b;
  --baby-blue: #77bcff;
  --blue: #4585FF;
  --yellow: #FFC529;
  --grey: #EFEFEF;
  --lavender: #625ce0;
}

/* ---------- WHOLE DOCUMENT ---------- */
html, body {
  width: 100%;
  background-color: var(--grey);
  font-family: 'Open Sans', sans-serif;
  overflow-x: auto;
}

.active {
  background-color: var(--mint);
}

header{
  display: block;
}

.section {
  height: 100vh;
}

h1 {
  font-family: "Futura", sans-serif;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: 2px;
}

h3 {
  font-size: 25px;
}

a:hover {
  text-decoration: none;
}

.tag{
  border-radius: 12px;
  padding: 1% 3%;
  font-size: 12px;
  color: white;
  text-align: center;

}

.btn-blue {
  background-color: var(--blue);
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.btn-rounded {
  border-radius: 40px;
  border: 0px solid black;
}

.whiteContainer {
  width: 98vw;
  margin: auto;
  padding: 2%;
  background-color: white;
  border-radius: 40px;
  display: block;
  box-shadow: 6px 7px 7px -1px rgba(0, 0, 0, 0.26);
}

.Food {
  background-color: var(--magenta);
}

.Transportation {
  background-color: var(--coin-orange);
}

.Leisure {
  background-color: var(--baby-blue);
}

.Clothing {
  background-color: var(--green);
}

.Other {
  background-color: var(--lavender);
}

.vh-5 {
  height: 5vh;
}

.vh-10 {
  height: 10vh;
}

.vh-15 {
  height: 15vh;
}

.vh-20 {
  height: 20vh;
}

.vh-25 {
  height: 25vh;
}

.vh-30 {
  height: 30vh;
}

.vh-35 {
  height: 35vh;
}

.vh-45 {
  height: 45vh;
}

.vh-50 {
  height: 50vh;
}

.vh-70 {
  height: 70vh;
}

b {
  color: var(--blue);
}



/* ---------- LOGIN PAGE ---------- */
.bg-login {
  /* The image used */
  background-image: url("../img/login-background.svg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button {
  width: 65vw;
  margin-top: 3%;
  padding: 2%;
  border: 0px solid black;
  border-radius: 40px;
  box-shadow: 6px 7px 7px -1px rgba(0, 0, 0, 0.26);
}

input {
  font-size: 20px;
  padding: 2% 2% 2% 7%;
}

button {
  margin-bottom: 4%;
}

.form p {
  font-size: 18px;
}

#newAccountButton {
  color: var(--baby-blue);
  text-align: center;
  float: right;
  width: 35vw;
  margin-top: 2vh;
  margin-right: 10vw;
  padding: 2%;
  background-color: white;
  border-radius: 40px;
  display: block;
  font-weight: 400;
  box-shadow: 6px 7px 7px -1px rgba(0, 0, 0, 0.26);
}

.copyright p {
  color: var(--baby-blue);
  margin: 2% 2% 2% 4%;
  font-size: 15px;
}

#logo {
  margin-top: 3vh;
  width: 60vw;
}

#coin1, #coin2 {
  width: 35px;
  height: 35px;
  background: var(--coin-orange);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

#coin1 {
  animation-name: floating1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  left: -1vh;
  top: 2vh;
}

#coin2 {
  animation-name: floating2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  left: -0.5vh;
  top: 1vh;
}

@keyframes floating1 {
  0% {
    left: -1vh;
    top: -1vh;
  }

  50% {
    left: -1vh;
    top: 7.5vh;
  }

  100% {
    left: -1vh;
    top: -1vh;
  }
}

@keyframes floating2 {
  0% {
    left: 3vh;
    top: 1vh;
  }

  25% {
    left: 3vh;
    top: 4vh;
  }

  75% {
    left: 3vh;
    top: -2vh;
  }

  100% {
    left: 3vh;
    top: 1vh;
  }
}

/* ---------- CREATE ACCOUNT PAGE ---------- */
#goBackButton {
  color: var(--baby-blue);
  text-align: center;
  float: right;
  width: 35vw;
  margin-top: 2vh;
  margin-right: 10vw;
  padding: 2%;
  background-color: white;
  border-radius: 40px;
  display: block;
  font-weight: 400;
  box-shadow: 6px 7px 7px -1px rgba(0, 0, 0, 0.26);
}

#yellowText {
  color: var(--yellow);
  font-weight: 500;
}

.bg-create {
  /* The image used */
  background-image: url("../img/new-account-background.svg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#newAccountPage h1 {
  margin-top: 11vh;
}

/* ---------- EXPENSES PAGE ---------- */
#expensesPage{
    margin-bottom: 10vh;
}

.banner {
  background-color: var(--blue);
  color: white;
  height: 7vh;
}

.banner h2 {
  font-size: 22px;
  margin: auto;
  font-weight: bold;
}


#monthlyOverview, #budgetGraph {
  height: 46vh;
}

#recentActivities {
  text-align: center;
  margin: 0 auto;
}

#recentActivities button {
  width: 30vh;
}

.entry {
  width: 98vw;
  height: 7vh;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  margin-top: 2%;
  align-items: center;


}

#bill-container{
  margin: auto;
  justify-content: center;
  text-align: center;

}

.col-image {
  width: 10%;
  display: inline-block;

}

.billImage{
  border: 1px solid red;
  margin-top: 12%;
  background-image: url("../img/piggy.png");
  /* Full height */

  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-description {
  width: 58%;
  display: inline-block;

}

.col-amount {
  width: 30%;
  display: inline-block;
}


#bills h4{
  font-size: 20px;
  font-weight: 600;
  margin: 2% 0 0 0;
}

#overview h4{
  font-size: 20px;
  font-weight: 600;
  margin: 2% auto;
}

#bills h5{
  font-size: 20px;
  font-weight: 600;
  margin: 13% 0 0 0;
  color: darkred;
}

article{
  margin: 10% 0;
}


#beInTheCenter{
  margin: 1.5vh  auto auto auto;
}

/* ---------- NEW BILL---------- */
.bg-newBill {
  /* The image used */
  background-image: url("../img/new-bills-background.svg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#addBillForm{
  margin-top: 5vh;
  margin-bottom: 17vh;
  height: 60vh;
}

#newBillPage input {
  background-color: #EFEFEF;
  margin: 0 3vh 0 3vh;
  width: 80vw;
  box-shadow: none;
  display: block;
}


h6 {
  text-align: right;
  margin-right: 5%;
  font-style: italic;
  font-weight: 600;
}


#newBillPage button{
  margin: 1vh;
}

#newBillPage label{
  font-weight: 600;
  margin: 3vh 3vh 0.5vh 3vh;
  display: block;
}

.addButton {
  margin-top: 10vh;
}

.btn-grey{
  background: #c9c9c9;
  width: 45%;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

#chosenPost {
  background: #EFEFEF;
  border-radius: 50px;
  margin: 0 3vh 0 3vh;
  width: 40vw;
  font-size: 21px;
  border: none;
}

#chosenCurrency {
  background: #EFEFEF;
  border-radius: 50px;
  margin: 0 3vh 0 3vh;
  width: 30vw;
  font-size: 21px;
  border: none;
}

/* ---------- BUDGET PAGE---------- */
#budgetPage {
  margin-bottom: 7vh;
}

.post-container {
  margin: auto;
}

.Expense h5 {
  color: darkred;
}

.Income h5 {
  color: green;
}

/* ---------- NEW POST---------- */
.bg-newPost {
  /* The image used */
  background-image: url("../img/new-post-background.svg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.addPostButton, .addPostButton button{
  margin:   auto;
  padding: 1.5vh;
}

#addPostForm{
  margin-top: 5vh;
  margin-bottom: 7vh;
  height: 70vh;
}

#postForm{
  margin-top: 5vh;
  height: 70vh;
}

#newPostPage button{
  margin: 1vh;
}

#newPostPage input {
  background-color: #EFEFEF;
  margin: 0 3vh 0 3vh;
  width: 80vw;
  box-shadow: none;
  box-shadow: none;
  display: block;
}

#chosenSheet {
  background: #EFEFEF;
  border-radius: 50px;
  margin: 0 3vh 0 3vh;
  width: 30vw;
  font-size: 21px;
  border: none;
}

.budgetText{
  margin-top: 5vh;
}

#postExpense {
  background: #EFEFEF;
  border-radius: 50px;
  margin: 0 3vh 0 3vh;
  width: 30vw;
  font-size: 21px;
  border: none;
}

#newPostPage label {
  font-weight: 600;
  margin: 1.5vh 3vh 0.5vh 3vh;
  display: block;
}

.addButton1 {
  margin-top: 5vh;
}

#chartLabels{
margin-top: 1vh;
justify-content: space-around;

}

#chartLabels img{
width: 50%;

}

#postLabels{
  margin: 3vh 0 1vh 0;
  font-size: 20px;
}

/* ---------- DROPDOWN ---------- */

.dropdown {
    text-align: center;
    font-size: 25px;
    padding: 15px;
  }

  .dropdown-menu {
    width: 95vw;
    margin: auto;
    padding: 2%;
    background-color: white;
    border-radius: 40px;
    box-shadow: 6px 7px 7px -1px rgba(0, 0, 0, 0.26);
    text-align: center;
    font-size: 25px;
    }

/* ---------- NEW CHART STYLING !!! ---------- */
/* -- Pie chart-- */
.ct-series-a .ct-slice-pie {
  fill: var(--mint);
  stroke: white;
  stroke-width: 4px;
}

.ct-series-b .ct-slice-pie {
  fill: var(--magenta);
  stroke: white;
  stroke-width: 4px;
}

.ct-series-c .ct-slice-pie {
  fill: var(--coin-orange);
  stroke: white;
  stroke-width: 4px;
}

.ct-series-d .ct-slice-pie {
  fill: var(--lavender);
  stroke: white;
  stroke-width: 4px;
}

.ct-series-e .ct-slice-pie {
  fill: var(--baby-blue);
  stroke: white;
  stroke-width: 4px;
}

.ct-series-f .ct-slice-pie {
  fill: lightgrey;
  stroke: white;
  stroke-width: 4px;
}

/* -- Bar chart-- */
.ct-series-a .ct-bar {
  stroke: lightgrey;
  stroke-width: 20px;
  stroke-linecap: round;
}

.ct-series-b .ct-bar {
  stroke: var(--magenta);
  stroke-width: 20px;
  stroke-linecap: round;
}

/* ---------- CONVERTER PAGE---------- */

.converterPage h2 {
  text-align: center;
  margin-top: 2vh;
  font-weight: 400;
  font-size: 30px;
}

.converterPage label {
  margin: 0 0 0 1vh;
  display: block;
}

.converterPage input {
  display: block;
}

#currency1 {
  background-color: var(--blue);
  color: white;
  font-size: 22px;
  height: 5.5vh;
  width: 15vh;
  text-align: center;
  border: none;
  border-radius: 0 20px 20px 0;
  display: table-cell;
  vertical-align:middle;
}

#currency2 {
  background-color: var(--blue);
  color: white;
  font-size: 22px;
  height: 5.5vh;
  width: 15vh;
  text-align: center;
  border: none;
  border-radius: 0 20px 20px 0;
  display: table-cell;
  vertical-align:middle;
}

#currencyAmount1 {
  margin: 2vh auto;
  text-align: center;
  font-weight: 600;
  box-shadow: none;
}

#currencyAmount2 {
  margin: 2vh auto;
  text-align: center;
  font-weight: 600;
  box-shadow: none;
}

#convertButton {
margin: 3vh 0 5vh 9.5vh;

}


/* ---------- FOOTER ---------- */

#tabbar-footer{
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100vw;
  height: 7vh;
  justify-content: space-around;
  z-index: 9999;
}

#tabbar-footer a{
  height: 7vh;
  width: 25%;
  padding-top: 1%;
}

#tabbar-footer a:hover{
background-color: var(--baby-blue);

}

#tabbar-footer img{
  width: 5vh;
}

.hide{
  display: none;
}

/* ---------- MEDIA QUERIES ---------- */

/* ---------- Galaxy S5---------- */
@media only screen and (min-height: 640px) {
  #budgetGraph {
    height: 58vh;
  }

  #monthlyOverview {
    height: 55vh;
  }

  #recentActivities {
    display: block;
    margin-top: 7vh;
  }
  #addBillForm {
    height: 75vh;
  }
  #addPostForm {
    height: 80vh;
  }
}

/* ---------- Iphone 6/7/8---------- */
@media only screen and (min-height: 640px) {
  .entry {
    height: 10vh;
  }
}

/* ---------- Iphone 6/7/8 plus---------- */
@media only screen and (min-height: 736px) {

  #monthlyOverview {
    height: 55vh;
  }

  #addBillForm {
    height: 70vh;
  }
  #addPostForm {
    height: 78vh;
  }
}

/* ---------- Iphone X---------- */
@media only screen and (min-height: 812px) {

  #budgetGraph {
    height: 48vh;
  }

  #monthlyOverview {
    height: 45vh;
  }

  #recentActivities {
    margin-top: 2vh;
  }

  #addBillForm {
    height: 65vh;
  }
  #addPostForm {
    height: 75vh;
  }
  }

  /* ---------- Ipad---------- */
  @media only screen and (min-height: 1024px) and (max-height: 1500px) {

    #budgetGraph {
      height: 65vh;
    }

    #monthlyOverview {
      height: 60vh;
    }

    #recentActivities {
      margin-top: 15vh;
    }

    #addPostForm {
      height: 70vh;
    }

    .entry {
      height: 9vh;
    }
  }
